


.hourglass {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 55vw;
    height: 90vh;
    clip-path: polygon(0 0, 100% 0, 85% 50%, 100% 100%, 0 100%, 15% 50%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    overflow: hidden;
    background-image: url("../../../../assets/gymMainBg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    cursor: pointer;
}

