.right-pentagon {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: background-color 0.3s ease;
    background-image: url("../../../../assets/crossfitMainBg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    cursor: pointer;
}

.textSize{
    font-size: 270%;
    font-weight: bold;
    text-transform: none;
    padding-left: 15%;
    padding-right: 10%;
}
