.right-pentagon {
    flex: 1; /* Zajmuje połowę szerokości kontenera */

    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.right-pentagon:hover {
    background-color: #f39c12;
}