.left-pentagon {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: url("../../../../assets/boxMainBg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    cursor: pointer;

}
