.navbar {
    /*margin-left: 5%;*/
}
.logInButton{
    width: 8.3vw;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
}

.navButtons {
    margin-left: 5vw;
    --bs-nav-link-font-size: 20px; /* Wykorzystanie zmiennej CSS */
    position: relative; /* Umożliwia pozycjonowanie pseudo-elementów */
    border-radius: 15%;
}

.navButtons::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #1ABBB1;
    transform: scaleX(0);
    transition: transform 0.3s ease; /* Animacja */
    border-radius: 2px;
}

.navButtons:hover::after {
    transform: scaleX(1);
}

/*.navButtons:hover {*/
/*    background-color: rgba(33, 22, 22, 0.2); !* Kolor tła na hover *!*/
/*}*/

#logo{
    font-size: 30px;
    font-weight: bolder;
    margin-right: 5%;
    margin-left: 1%;
}
