.navbar {
    /*margin-left: 5%;*/
}
#logInButton{
    width: 157px;
    height: 45px;

    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;

}


.navButtons{
    margin-left: 5vw;
    --bs-nav-link-font-size: 20px;
}

#logo{
    font-size: 30px;
    font-weight: bolder;
    margin-right: 5%;
    margin-left: 1%;
}
