.textCustom{
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transform-origin: left center;
    font-family: Bahnschrift, serif;
    color: white;
    font-size: 600%;
    transform: translateZ(-10px) scaleX(0.85);

}

.buttonCustom{
    height: 66px;
    width: 214px;
    border-radius: 20px;
    border: none;
}

.arrowStyle{
    scale: 200%;
}
