
.h-10 {
    height: 10vh;
}

.h-90 {
    height: 90vh;
}

.pt-10{
    padding-top: 10vh;
}

.pt-20{
    padding-top: 20vh;
}

.mg-10{
    margin-top: 10vh;
}

.mb-5{
    margin-bottom: 5vh;
}

.mainAppButton{
    background: radial-gradient(50% 50% at 50% 50%, #1ABBB1 0%, #168881 100%);
}

.greyFont{
    color: #88AAA8;
}

.mainAppButton:hover{
    background: radial-gradient(50% 50% at 50% 50%, #20B4D4 0%, #28819D 100%);
}

.mainAppButton:active{
    background: radial-gradient(50% 50% at 50% 50%, #28819D 0%, #20B4D4 100%);

}

.transparentButton{
    background: none;
    border: none;
}

.transparentButton:hover{
    color: #fafff4;
}

.altAppButton{
    background: none;
    border: 1px solid #1ABBB1;
    color: white;
}

.altAppButton:hover{
    background: radial-gradient(50% 50% at 50% 50%, #1ABBB1 0%, #168881 100%);
    border-color: #168881;
}
